@model CombatLink.Application.ViewModels.ChatViewModel

<div class="chat-container">
    <div class="chat-header">
        <button id="backButton">←</button>
        <div class="user-info">
            <img src="/images/fighter1.png" alt="Avatar" class="avatar" />
            <div>
                <div class="username">Fighter 1</div>
                <div class="status">online</div>
            </div>
        </div>
    </div>

    <div id="chatBox" class="chat-box">
    </div>

    <div class="chat-input">
        <input type="text" id="messageInput" placeholder="Type here..." />
        <button id="sendButton">➤</button>
    </div>
</div>

<script>
    const matchId = @Model.MatchId;
    const currentUserId = @Model.UserId;
    console.log(matchId);
    console.log(currentUserId);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script type="module" src="~/js/ChatClient.js"></script>

